@font-face {
  font-family: myFont;
  src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../assets/img/fundo.png);
  background-attachment: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  font-family: myFont;
  flex-direction: column;
  align-items: center;
  font-family: myFont;
}

main {
  flex: 1;
}

.logoEscola {
  width: 25%;
  display: block;
  margin: 70px auto 10px auto;
}

h1 {
  font-weight: 800;
  margin-top: -10px;
  display: flex;
  color: #3c3c3c;
  justify-content: center;
}

img {
  max-width: 550px;
}

.formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
  background: white;
  margin: 10px auto;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 60px;
}

.formulario button {
  display: block;
  width: 80%;
  margin: 15px auto 0;
  padding: 15px 0;
  margin-top: 30px;
  background-color: #00c853;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario label {
  display: block;
  font-size: 15px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 15px;
}

.formulario input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.formulario button:hover {
  background-color: #00a343;
}

.color-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.color-block {
  flex: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.color-bar .color-block:nth-child(1) {
  background-color: #0cc26d;
}
.color-bar .color-block:nth-child(2) {
  background-color: #ec1922;
}
.color-bar .color-block:nth-child(3) {
  background-color: #632a8b;
}
.color-bar .color-block:nth-child(4) {
  background-color: #03b7ea;
}
.color-bar .color-block:nth-child(5) {
  background-color: #f56b21;
}
.color-bar .color-block:nth-child(6) {
  background-color: #0cc26d;
}
.color-bar .color-block:nth-child(7) {
  background-color: #ec1922;
}
.color-bar .color-block:nth-child(8) {
  background-color: #632a8b;
}
.color-bar .color-block:nth-child(9) {
  background-color: #03b7ea;
}
.color-bar .color-block:nth-child(10) {
  background-color: #f56b21;
}
